


@*<script integrity="sha256-98199553dadsfdfasdfasdfasf830590151c8c9f0df513828047c29b45" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>*@


<script integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script integrity="sha256-sdT04qyFd12ibtXiHLbU0Sj4yztGsh3GjMpYSn/yRcg=" crossorigin="anonymous" src="~/Scripts/jquery.validate.js"></script>


<h2>SubresourceIntegrity (SRI)</h2>
